<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.example.aidldemo">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
        </activity>

        <!--
          android:enabled : 如果为true，则这个service可以被系统实例化，如果为false，则不行。默认为true

          android:exported : 如果为true，则其他应用的组件也可以调用这个service并且可以与它进行互动，如果为false，则
          只有与service同一个应用或者相同user ID的应用可以开启或绑定此service。它的默认值取决于service是否有
          intent filters。如果一个filter都没有，就意味着只有指定了service的准确的类名才能调用，也就是说这个service
          只能应用内部使用——其他的应用不知道它的类名。这种情况下exported的默认值就为false。反之，只要有了一个filter，
          就意味着service是考虑到外界使用的情况的，这时exported的默认值就为true

          android:icon : 一个象征着这个service的icon

          android:isolatedProcess : 如果设置为true，这个service将运行在一个从系统中其他部分分离出来的特殊进程中，我们只能通过Service API来与它进行交流。默认为false。

          android:label : 显示给用户的这个service的名字。如果不设置，将会默认使用<application>的label属性。

          android:name : 这个service的路径名，例如“com.lypeer.demo.MyService”。这个属性是唯一一个必须填的属性。

          android:permission : 其他组件必须具有所填的权限才能启动这个service。

          android:process : service运行的进程的name。默认启动的service是运行在主进程中的。
        -->
        <service
            android:name=".service.StartService"
            android:enabled="true"
            android:exported="true"
            android:isolatedProcess="true">
        </service>
        <service
            android:name=".service.BinderService"
            android:enabled="true"
            android:exported="true">
        </service>

        <activity android:name=".UserBinderActivity">
        </activity>

        <service
            android:name=".service.MessagerService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.Vincent.messenger"/>

                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </service>

        <activity android:name=".MessagerActivity">

        </activity>

        <service
            android:name=".service.AIDLService"
            android:exported="true">
            <intent-filter>
                <action android:name="com.Vincent1.aidl"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </service>

        <activity android:name=".AIDLActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
    </application>

</manifest>